.display-3{
    font-size: 2rem;
    font-weight: 500;
}
h2{
    font-size: 1.5rem;
}
.desplegado{
    display: inherit;
}
.oculto{
    display: none;
}
/* .tarea{
    display: none;
}
.form-group{
    display: inherit;
} */
.borrar{
    margin-top: .5rem;
}
/* Añadir productos */
.input-añadir{
    margin-top: 0.5rem;
}
.resultado{
    color: #dc3545;
}
.container-resultado{
    width: 80%;
    position: relative;
    left: 10%;
    padding: 1rem;
    margin: 2rem 0;
}
.card{
    padding: 1rem;
    margin: 0.5rem;
    background: rgba(9, 68, 136, 0.2);
    box-shadow: 1px 2px 2px rgba(9, 68, 136, 0.4);
}
.output-resultado{
    margin-top: 1rem;
}
footer{
    text-align: center;
    margin-top: 2rem;
}